:root{
    --mainTextColor: #757575;
    --mainTitleColor: #212121;
    --buttonColor: #2196F3;
    --hoverTextColor: #2196F3;
    --heroBgColor: #2F303A;
    --teamBgColor: #F5F4FA;
    --footerBgColor: #2F303A;
    --secondaryTextColor: #ffffff;
    /* --main-text-color */
    /* --main_text_color */
}
p{
    /* color: var(--mainTextColor); */
}
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;  
    
}
h1, h2, h3 {
    line-height: 1.2; /* Тісніший міжрядковий інтервал для заголовків */
}

p {
    line-height: 1.6; /* Більш розріджений для параграфів */
}
